<h2>Signal Example</h2>
<mat-list>
  @for (contact of contacts; track contact) {
    <mat-list-item>
      <h3 matListItemTitle>
        {{ contact.name }}
      </h3>
      <p matListItemLine>
        {{ contact.email }}
      </p>
      <button matListItemMeta mat-icon-button (click)="deleteContact(contact)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-list-item>
  }
</mat-list>

<h2>Observable Example</h2>
<mat-list>
  @for (contact of contacts$ | async; track contact) {
    <mat-list-item>
      <h3 matListItemTitle>
        {{ contact.name }}
      </h3>
      <p matListItemLine>
        {{ contact.email }}
      </p>
      <button matListItemMeta mat-icon-button (click)="deleteContact(contact)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-list-item>
  }
</mat-list>

<h2>Direct data from Angular FireStore Example</h2>
<mat-list>
  @for (contact of contactsSignal(); track contact) {
    <mat-list-item>
      <h3 matListItemTitle>
        {{ contact.name }}
      </h3>
      <p matListItemLine>
        {{ contact.email }}
      </p>
      <button matListItemMeta mat-icon-button (click)="deleteContact(contact)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-list-item>
  }
</mat-list>
